<!DOCTYPE html>
<html ng-app="mirage">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Mirage</title>

    <!-- Lib files. -->
    <script src="scripts/libs/socket.io-client/socket.io.js"></script>
    <script src="scripts/libs/angular/angular.min.js"></script>
    <script src="scripts/libs/angular-socket-io/socket.min.js"></script>

    <!-- App files. -->
    <script src="scripts/main.transpiled.js"></script>

    <!-- Styles. -->
    <link href="styles/main.css" rel="stylesheet">

  </head>
  <body>

    <div class="row">

      <!-- Weather. -->
      <div class="col-sm-8">
        <section ng-controller="WeatherController as ctrl">
          <div ng-show="ctrl.weatherService.currently">
            <div>
              <span class="text-xl">
                {{ctrl.weatherService.currently.temperature | round}}&deg;
              </span>
              <i class="text-lg wi wi-forecast-io-{{ctrl.weatherService.currently.icon}}"></i>
            </div>
            <div class="text-md">
              {{ctrl.weatherService.hourly.summary}}
            </div>
            <div class="text-md top-margin-10">
              <i class="wi {{ctrl.weatherService.getPrecipitationIcon()}}"></i> {{ctrl.weatherService.currently.precipProbability*100}}%
            </div>
          </div>
        </section>
      </div>

      <!-- Time and date. -->
      <div class="col-sm-4 right-aligned time-and-date">
        <div class="text-xl">
          <time/>
        </div>
        <div class="text-md">
          <date/>
        </div>
      </div>

    </div>

    <!-- Greeting. -->
    <section ng-controller="WelcomeController as ctrl" class="row">
      <div class="text-lg centre-aligned col-sm-12">{{ctrl.welcomeService.message}}</div>
      <div ng-show="ctrl.welcomeService.extra" class="text-md col-sm-12 centre-aligned">
        {{ctrl.welcomeService.extra}}
      </div>
    </section>

    <!-- Buses. -->
    <section ng-controller="TfLController as ctrl">
      <div ng-show="ctrl.tflService.arrivals" class="row">
        <div ng-repeat="(line, data) in ctrl.tflService.arrivals" class="col-sm-6 bottom-margin">
          <div class="text-md">
            <i class="material-icons" ng-if="data.modeName === 'bus'">directions_bus</i>
            <i class="material-icons" ng-if="data.modeName === 'overground'">train</i>
            <span class="line-id">{{line}}</span>
          </div>
          <table>
            <tbody>
              <tr ng-repeat="(destination, times) in data.arrivals">
                <td class="destination-cell text-md">{{destination | truncate:20:'..'}}</td>
                <td class="time-cell right-aligned text-md">{{times}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Disruptions. -->
      <!-- <div ng-show="ctrl.tflService.disruption">
          <div ng-repeat="disruption in ctrl.tflService.disruption" class="text-xs">
            {{disruption.description}}
          </div>
      </div> -->

    </section>

    <!-- Trains. -->
    <section ng-controller="TrainsController as ctrl" ng-show="ctrl.trainsService.departures" class="row">
      <div class="col-sm-6">
        <div class="text-md">
          <i class="material-icons">train</i>
          <span class="line-id">{{ctrl.trainsService.departures.station_name}}</span>
        </div>
        <table>
          <tbody>
            <tr ng-repeat="departure in ctrl.trainsService.departures.departures.all | orderBy:'best_departure_estimate_mins'" ng-if="$index < 5 && departure.status !== 'CANCELLED'">
              <td class="destination-cell text-md">{{departure.destination_name | truncate:20:'..'}}</td>
              <td class="time-cell right-aligned text-md">
                <ng-switch on="departure.best_departure_estimate_mins">
                  <span ng-switch-when="0">Now</span>
                  <span ng-switch-when="1">1 min</span>
                  <span ng-switch-default>{{departure.best_departure_estimate_mins}} mins</span>
                </ng-switch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </body>
</html>
